
body {
    background-color: #333;
    font-family: sans-serif, Helvetica, Verdana;
    height: 100%
}

/*
goatstone.ui.SelectStyle
 */
#select-style .handle {
    height: 20px;
    cursor: move;
    background: linear-gradient(to top,
    rgba(220, 220, 220, .5) 0%,
    rgba(50, 50, 250, 1) 10%,
    rgba(220, 220, 220, .5) 20%,
    rgba(50, 50, 250, 1) 30%,
    rgba(220, 220, 220, .5) 40%,
    rgba(50, 50, 250, 1) 50%,
    rgba(220, 220, 220, .5) 60%,
    rgba(50, 50, 250, 1) 70%,
    rgba(220, 220, 220, .5) 80%,
    rgba(50, 50, 250, 1) 90%,
    rgba(220, 220, 220, 1) 100%);
}
#select-style .widget-body{
    margin: 6px 0;
}
#select-style{
    position: fixed;
    top: 40px;
    right: 10px;
    min-width: 100px;
    max-width: 250px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ccc;
    left: 20px;
    padding: 7px;
    /*visibility: hidden;*/
}
#select-style ul{
    list-style: none;
    margin: 6px;
}
#select-style li{
    padding: 5px;
    margin-left: -40px;
    cursor: pointer;
}
#select-style li:hover{
    color: green;
    cursor: pointer;
}

/* goatstone.ui.ActionMenu */
#action-menu{
    position: fixed;
    top: 40px;
    right: 10px;
    min-width: 100px;
    border-radius: 10px 0px 10px 10px;
    background-color: #ccc;    
    visibility: hidden;
}
#action-menu ul{
    list-style: none;
    margin: 6px;
}
#action-menu li{
    padding: 5px;
    margin-left: -40px;
    cursor: pointer;
}
#action-menu li:hover{
    color: green;
    cursor: pointer;
}

/* goatstone.ui.ActionBar */
 #action-bar{    
    position: fixed;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    padding: 7px;
     }
#action-bar .icon-overflow{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 5px 5px 0px 5px;
 }
/* END goatstone.ui.ActionBar */

/* story-parts */
#story-parts {
    position: fixed;
    top: 10px;
    left: 20px;
    opacity: 1;
    z-index: 200;    background-color: #ccc;
    border-radius: 10px 10px 10px 10px;
    padding: 7px;
    visibility: hidden;
}

#story-parts .handle {
    height: 20px;
    cursor: move;
    background: linear-gradient(to top,
    rgba(220, 220, 220, .5) 0%,
    rgba(50, 50, 250, 1) 10%,
    rgba(220, 220, 220, .5) 20%,
    rgba(50, 50, 250, 1) 30%,
    rgba(220, 220, 220, .5) 40%,
    rgba(50, 50, 250, 1) 50%,
    rgba(220, 220, 220, .5) 60%,
    rgba(50, 50, 250, 1) 70%,
    rgba(220, 220, 220, .5) 80%,
    rgba(50, 50, 250, 1) 90%,
    rgba(220, 220, 220, 1) 100%);

}
#story-parts .widget-body{
    margin: 6px 0;
}
/* END story-parts */

/* AlphaRange */
#dd {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 400px;
    height: 68px;
    opacity: 1;
    z-index: 200;
    background-color: #ccc;
    border-radius: 6px;
    padding: 7px;
    visibility: hidden;
}

#dd #scale_background {
    top: 33px;
    width: 400px;
    height: 40px;
    background-color: #999;
    position: absolute;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 0;
}

#dd .handle {
    height: 20px;
    cursor: move;
    background: linear-gradient(to top,
    rgba(220, 220, 220, .5) 0%,
    rgba(50, 50, 250, 1) 10%,
    rgba(220, 220, 220, .5) 20%,
    rgba(50, 50, 250, 1) 30%,
    rgba(220, 220, 220, .5) 40%,
    rgba(50, 50, 250, 1) 50%,
    rgba(220, 220, 220, .5) 60%,
    rgba(50, 50, 250, 1) 70%,
    rgba(220, 220, 220, .5) 80%,
    rgba(50, 50, 250, 1) 90%,
    rgba(220, 220, 220, 1) 100%);

}

/* END AlphaRange */

/* div_words */
#div_words {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: inherit;
    z-index: -1;
}

#div_words span {
    float: left;
    padding: 3px;
    opacity: 1;
    fontSize: .9em;
    background-color: #ccc;

}

#div_words p {
    float: left;
    padding: 3px;
    background-color: #444;
    margin: 1px;

}

/* END div_words */

/* goatstone.acronke.ui.panel.Message */
#message {
    position: fixed;
    display: inline-block;
    max-width: 400px;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    border: 5px solid rgba(200, 200, 200, .3);
    border-radius: 6px;
    visibility: hidden;
    padding: 3px;
}

#message h3 {
    font-size: 1em;
    color: #555;
    margin: 3px 0px;
}

#message #message-main {
    margin: 5px;
}

#message .handle {
    height: 20px;
    cursor: move;
    background: linear-gradient(to top,
    rgba(220, 220, 220, .5) 0%,
    rgba(50, 50, 250, 1) 10%,
    rgba(220, 220, 220, .5) 20%,
    rgba(50, 50, 250, 1) 30%,
    rgba(220, 220, 220, .5) 40%,
    rgba(50, 50, 250, 1) 50%,
    rgba(220, 220, 220, .5) 60%,
    rgba(50, 50, 250, 1) 70%,
    rgba(220, 220, 220, .5) 80%,
    rgba(50, 50, 250, 1) 90%,
    rgba(220, 220, 220, 1) 100%)
}

#message .handle .panel-close-button{
    background-color: #e99;
    cursor: pointer;
    float:right; 
}

#message p {
    margin: 7px 0px;
    position: relative;
    font-size: .9em;
}

#message address {
    margin-top: 3px;
    font-size: .8em;

}

#message a {
    margin-left: 10px;
    font-size: .8em;
    float: right;
}
/* END Message */



