
body {
    background-color: #333;
    font-family: sans-serif, Helvetica, Verdana;
}


/*                                  #div_words */
#div_words {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #444;
    z-index: -1;
}

#div_words span {
    float: left;
    padding: 3px;
    opacity: 1;
    fontSize: .9em;
    background-color: #ccc;

}
#div_words p {
    float: left;
    padding: 3px;
    background-color: #444;
    margin: 1px;

}

/* Message */
#message{
    display: inline-block;
    position: absolute;
    max-width: 400px;
    top:20px;
    right:20px ;
    background-color: #ccc;
    border:5px solid rgba(200, 200, 200, .3);
    /*box-shadow: 0 0 5px rgba(200, 200, 200, .6);*/
    border-radius: 6px;
    visibility: hidden;
    padding: 5px;
}
#message h3{
    font-size: 1em;
    color:#555;
    margin: 3px 0px;
    /*margin-top: 3px;*/
}
#message #message-main{
    margin: 5px;
}
#message .handle{
    height: 20px;
    cursor: move;
    background:
    linear-gradient(to top,
    rgba(220,220,220,.5) 0%,
    rgba(50,50,250,1) 10%,
    rgba(220,220,220,.5) 20%,
    rgba(50,50,250,1) 30%,
    rgba(220,220,220,.5) 40%,
    rgba(50,50,250,1) 50%,
    rgba(220,220,220,.5) 60%,
    rgba(50,50,250,1) 70%,
    rgba(220,220,220,.5) 80%,
    rgba(50,50,250,1) 90%,
    rgba(220,220,220,1) 100% )
}
#message p {
    margin: 7px 0px;
    position: relative;
    font-size: .9em;
}
#message address{
    margin-top: 3px;
    font-size: .8em;

}
#message a {
    margin-left: 10px;
    font-size: .8em;
    float: right;
}

/* END Message */



