/*
goatstone.ui.action-menu-button
*/
button[role="action-menu-button"] {
    position: fixed;
    top: 6px;
    right: 40px;
    width: 38px;
    height: 38px;
    padding: 5px;
    background-color: #ddd;
    border-radius: 6px;
}

button[role="action-menu-button"]:hover {
    background-color: #fff;
    cursor: pointer;
}

button[role="action-menu-button"]:focus {
    border-color: blue;
    border-size: 3px;
}

button[role="action-menu-button"] svg {
    width: 30px;
    height: 30px;
    stroke: #333;
    stroke-width: 3;
}

