/*
goatstone.ui.action-menu-button
*/
.action-menu-button {
    position: fixed;
    top: 6px;
    right: 40px;
    width: 38px;
    height: 38px;
    padding: 5px;
    background-color: #ddd;
    border-radius: 6px;
    stroke: #333;
    stroke-width: 3;
}
.action-menu-button:hover {
    background-color: #fff;
}
.action-menu-button:focus {
    background-color: #99f;
}
