/*
    alpha-range .css
*/
#alpha-range {
    opacity: 1;
    z-index: 200;
    background-color: #fff;
    border-radius: 6px;
    padding: 7px;
    visibility: hidden;
    margin: 5px 0 0 0 ;
}

/*#alpha-range #scale_background {*/
    /*top: 25px;*/
    /*width: 400px;*/
    /*height: 40px;*/
    /*background-color: #fff;*/
    /*position: absolute;*/
    /*border-radius: 6px;*/
    /*z-index: 0;*/
/*}*/

#alpha-range svg {
    left: 0px;
    top: 0px;
    position: relative;
    opacity: 0.5;
    /*top: 25px;*/
    /*width: 400px;*/
    /*height: 40px;*/
    /*background-color: #fff;*/
    /*position: absolute;*/
    /*border-radius: 6px;*/
    /*z-index: 0;*/
}


