.panel{
    position: fixed;
    /*display: inline-block;*/
    background-color: #ccc;
    border: 5px solid rgba(200, 200, 200, .3);
    border-radius: 6px;
    visibility: hidden;
    padding: 3px;        
}
.panel svg.close-button{
    float:right;
    cursor: pointer;
}
.panel svg.close-button line:hover{
    stroke:#4a4;
}
.panel .handle{
    position: relative;
    height: 20px;
}
