
.panel {
    position: fixed;
    background-color: #ccc;
    border: 5px solid rgba(200, 200, 200, .3);
    border-radius: 6px;
    visibility: hidden;
    padding: 3px;
    box-shadow: 3px 3px 3px #aaa;
}

.panel .handle {
    position: absolute;
    top: -30px;
    left: -15px;
    height: 20px;
    width: 100px;
    border: 6px solid #ccc;
    background-color: blue;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #aaa;
    cursor: move;
    background: repeating-linear-gradient(180deg, #222, #222 3px, #ccc 3px, #ccc 6px);
    /*background: linear-gradient(top,#FF5DB1 0%,#E94A86 100%);*/
}

.panel .handle:hover {
    background-color: #55f;
    background: repeating-linear-gradient(180deg, #555, #555 3px, #fff 3px, #fff 6px);
}

.panel .cancel-icon {
    position: absolute;
    top: -30px;
    right: -10px;
    height: 30px;
    width: 35px;
    background-color: #aaa;
    border: 3px solid #ccc;
    border-radius: 30px;
    box-shadow: 3px 3px 3px #aaa;
    cursor: pointer;
    background: url('/svg/x-mark.svg') no-repeat top left;
    background-size: 22px 22px;
    background-position: 5px 1px, center;
    background-color: #ccc;
}

.panel .cancel-icon:hover {
    background-color: #fff;
}

.panel .cancel-icon:focus {
    background-color: #77f;

}
