.panel{
    position: fixed;
    /*display: inline-block;*/
    background-color: #ccc;
    border: 5px solid rgba(200, 200, 200, .3);
    border-radius: 6px;
    visibility: hidden;
    padding: 3px;        
}
.panel svg.close-button{
    float:right;
    cursor: pointer;
}
.panel svg.close-button line:hover{
    stroke:#4a4;
}
.panel .handle{
    position: relative;
    height: 20px;
}
/* END goatstone.ui.container.Panel */

/* goatstone.acronke.ui.panel.Message */
/*#message-panel {
    position: fixed;
    display: inline-block;
    max-width: 400px;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    border: 5px solid rgba(200, 200, 200, .3);
    border-radius: 6px;
    visibility: hidden;
    padding: 3px;
}

#message-panel h3 {
    font-size: 1em;
    color: #555;
    margin: 3px 0px;
}

#message-panel #message-main {
    margin: 5px;
}

#message-panel .handle .panel-close-button{
    background-color: #e99;
    cursor: pointer;
    float:right; 
}

#message-panel p {
    margin: 7px 0px;
    position: relative;
    font-size: .9em;
}

#message-panel address {
    margin-top: 3px;
    font-size: .8em;

}

#message-panel a {
    margin-left: 10px;
    font-size: .8em;
    float: right;
}
#message {
    visibility: hidden;
}
*//* END Message */