
#bubble-text {
    position: relative;
    top: 20px;
    left: 20px;
}

/*#bubble-text span {*/
    /*float: left;*/
    /*padding: 3px;*/
/*}*/

/*#story_words p {*/
    /*float: left;*/
    /*padding: 3px;*/
    /*margin: 1px;*/
/*}*/
