
#bubble-text {
    position: absolute;
    top: 0px;
    left: 0px;
}

/*#bubble-text span {*/
    /*float: left;*/
    /*padding: 3px;*/
/*}*/

/*#story_words p {*/
    /*float: left;*/
    /*padding: 3px;*/
    /*margin: 1px;*/
/*}*/
