
#line-text {
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    overflow: auto;
}

#line-text span {
    float: left;
    padding: 3px;
}

#line-text p {
    float: left;
    padding: 3px;
    margin: 1px;
}
