
#line-text {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #333;
    overflow: auto;
    visibility: hidden;
}

#line-text span {
    float: left;
    padding: 3px;
}

#line-text p {
    float: left;
    padding: 3px;
    margin: 1px;
}
