/* main.css */

body {
    background-color: #009;
    font-family: sans-serif, Helvetica, Verdana;
    height: 100%;
    margin: 0;
}

#panel-a {

}
#panel-a input{
    margin: 5px;
}
#panel-a select{
    margin: 5px;
}